<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CycleScrollViewExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E53745691D5974ED000116C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E537457D1D5974EE000116C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E53745881D5974EE000116C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
